.tip-select-button {
  width: 125px;
  max-width: 100%;
  background-color: #00474b;
  font-size: 24px;
  padding: 6px 0;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}
.tip-select-button:hover {
  background-color: #9fe8df;
  color: #00474b;
}
.active-button {
  background-color: #26c2ae;
}
